@model IEnumerable<WeWorkOut.Models.Goal>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/goals.css" />

<h1>My Exercise Goals</h1>

<div class="goal_create">
    <h3>Create a new goal!</h3>
    <form onsubmit="create_goal(event);">
        <div class="form_section">
            <label>Exercise</label>
            <select name="exercise" id="exercises_select" onchange="exercise_option_changed();">
                <option id="exerciseNoneOption"></option>
                @foreach (Exercise e in (List<Exercise>)ViewData["ExerciseOptions"])
                {
                    <option value=@e.Name>@e.Name</option>
                }
            </select>
        </div>
        <div class="form_section">
            <label>Quantity</label>
            <input type="number" name="quantity" id="quantity_input" required />
        </div>
        <div class="form_section">
            <label>Units</label>
            <select name="units" id="units_select">
                <option id="unitsNoneOption" value="noneSelected"></option>
                <option id="weightOption" value="Weight" style="display: none">@TempData["WeightUnits"]</option>
                <option id="distanceOption" value="Distance" style="display: none">@TempData["DistanceUnits"]</option>
                <option id="timeOption" value="Time" style="display: none">@TempData["TimeUnits"]</option>
                <option id="repsOption" value="Reps" style="display: none">@TempData["RepsUnits"]</option>
            </select>
        </div>
        <div class="form_section">
            <label>Completion Date (optional)</label>
            <input type="date" name="date_input" id="date_input">
        </div>
        <div class="form_section">
            <button type="submit">Add</button>
        </div>
    </form>
</div>
<div>
    <a>Change Units</a>
</div>


<table class="table table-striped table-bordered goals_table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exercise)
            </th>
            <th>Quantity</th>
            <th>Units</th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Exercise.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeasurementQuantity)
                </td>
                <td>
                    @{
                        if (item.MeasurementType.Equals("Reps"))
                        {
                            <text>@TempData["RepsUnits"]</text>
                        }
                        else if (item.MeasurementType.Equals("Weight"))
                        {
                            <text>@TempData["WeightUnits"]</text>
                        }
                        else if (item.MeasurementType.Equals("Distance"))
                        {
                            <text>@TempData["DistanceUnits"]</text>
                        }
                        else if (item.MeasurementType.Equals("Time"))
                        {
                            <text>@TempData["TimeUnits"]</text>
                        }
                    }
                </td>
                <td>
                    @item.Deadline?.ToString("yyyy/MM/dd")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                    <form>
                        <button>Modify</button>
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="~/js/goals.js"></script>
