@model IEnumerable<WeWorkOut.Models.Goal>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table goals_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exercise)
            </th>
            <th>Quantity</th>
            <th>Units</th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetMeasurementQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetMeasurementUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GoalID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GoalID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GoalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
