@model IEnumerable<WeWorkOut.Models.Goal>

@{
    ViewData["Title"] = "Index";
}
<h1>My Exercise Goals</h1>

<div class="goal_create">
    <h3>Create a new goal!</h3>
    <label>Exercise</label>
    <form>
        <select name="exercises">
            <option value="noneSelected"></option>
            @foreach (Exercise e in (List<Exercise>)ViewData["ExerciseOptions"])
            {
                <option value=@e.Name>@e.Name</option>
            }
        </select>
    </form>  
</div>


<table class="table goals_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exercise)
            </th>
            <th>Quantity</th>
            <th>Units</th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasurementType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GoalID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GoalID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GoalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
